{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Calculater</title>
    <link rel="stylesheet" href="{% static 'css/cal-style.css' %}">
</head>
<body>
    <h1>Simple Calculator</h1>
    <div class="form1">
      <form>
       Value 1 : <input type="text" name="num1"><br><br>
       Value 2 : <input type="text" name="num2"><br><br>
         Choose Opration : <select name="opr">
           <option value="+">+</option>
           <option value="-">-</option>
           <option value="*">*</option>
           <option value="/">/</option>
        </select><br><br>
   <button type="submit">Calculate</button><br><br>
    <input type="text" name="output">
      </form>
    </div>
</body>
</html>